<!doctype html>
<html lang="ko">
<head>
<title>PikPak-납품관리</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!-- VENDOR CSS -->
<link rel="stylesheet"
	href="/resources/assets/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="/resources/assets/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet"
	href="/resources/assets/vendor/linearicons/style.css">
<link rel="stylesheet"
	href="/resources/assets/vendor/chartist/css/chartist-custom.css">
<!-- MAIN CSS -->
<link rel="stylesheet" href="/resources/assets/css/main.css">
<link rel="stylesheet" href="/resources/assets/css/demo.css">
<link rel="stylesheet" href="/resources/css/inoutbound/inboundreq_main.css">
<link rel="stylesheet" href="/resources/css/inoutbound/pd_search.css">
<link rel="stylesheet" href="/resources/css/inoutbound/add_popup.css">

<!-- nav 두 개 추가 -->
<link rel="stylesheet" href="/resources/css/shared/custom_style.css">
<link rel="stylesheet" href="/resources/css/shared/custom_components_style.css">

<!-- GOOGLE FONTS -->
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
	rel="stylesheet">
<!-- ICONS -->
<link rel="apple-touch-icon" sizes="76x76"
	href="/assets/img/apple-icon.png">
<link rel="icon" type="image/png" sizes="96x96"
	href="/assets/img/favicon.png">

</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- 최상단 -->
		<nav th:replace="~{/shared/components.html :: top}"></nav>
		<!-- 최상단 끝 -->
		<!-- 왼쪽 SIDEBAR -->
		<div th:replace="~{/shared/components.html :: sidebar}"></div>
		<!-- 왼쪽 SIDEBAR -->

		<!-- MAIN -->
		<section
			th:replace="~{delivery/inreqstate_main :: main_inreqstate}"></section>
		<!-- 모달 -->
		<section th:replace="~{delivery/add_deliveryenroll_popup :: add_delivery_popup}"></section>
		
		<section
			th:replace="~{inoutbound/product_search :: product_search_popup}"></section>
		
		<!-- MAIN 끝-->
	
	</div>
	<div class="clearfix"></div>
	<!-- footer 시작 -->
	<footer th:replace="~{/shared/components.html :: footer}"></footer>
	<!-- footer 끝 -->

	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="../resources/assets/vendor/jquery/jquery.min.js"></script>
	<script src="../resources/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="../resources/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script
		src="../resources/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
	<script src="../resources/assets/vendor/chartist/js/chartist.min.js"></script>
	<script src="../resources/assets/scripts/klorofil-common.js"></script>
<script>
$(document).ready(
	function() {	
		// 상품코드/상품명 모달 닫힐 때
	    $('#productModal').on('hide.bs.modal', function () {
	        $(this).find('input:not([readonly])').val(''); // readonly 제외한 입력 필드 초기화
	    });

		// 상품코드/상품명 모달 검색 버튼 클릭 시
		$("#pd_search_is").on("click", function() {
			$("#productModal").modal('show');

			// 모달이 열릴 때 첫 번째 페이지 로드
			$('#productModal').on('shown.bs.modal', function() {
				new product_search_modal().pd_paging(1); // 페이지 1을 로드
			});
		});
		
		
		
		
	    $('#deleverModal').on('hide.bs.modal', function () {
	        $(this).find('input:not([readonly])').val(''); // readonly 제외한 입력 필드 초기화
	        $(this).find('select:not([readonly])').val(''); // readonly 제외한 입력 필드 초기화
	    });
		 
		//납품 버튼 클릭 시
		//관리 버튼 클릭시
		// 문서 전체에 대해 이벤트 위임 설정
		$(document).on("click", ".inreq_delivery", function(event) {
			event.preventDefault();  // 기본 동작 중단
			
			var supplier_cd = $(this).data("supplier-cd");
			var product_cd = $(this).data("product-cd");
			var product_nm = $(this).data("product-nm");
			var product_qty = $(this).data("product-qty");
			var add_req = $(this).data("add-req");
			var hope_dt = $(this).data("hope-dt");
			var request_cd = $(this).data("request-cd");
			
			// 입력 필드에 값 설정
			$("#product_cd_del").val(product_cd);
			$("#product_nm_del").val(product_nm);
			$("#product_qty_del").val(product_qty);
			$("#add_req_del").val(add_req);
			$("#hope_dt_del").val(hope_dt);
			$("#request_cd_del").val(request_cd);
			$("#supplier_cd_del").val(supplier_cd);
			
			// 모달 보여주기
			$("#deleverModal").modal('show');
			
		});
	}
);
					
</script>
</body>
<script type="module">
import {delivery_page_move, delivery_modal, delivery_list, inreq_list} from "../resources/js/deliver/deliveryenroll_main.js?v=6";
import {product_search_modal} from "../resources/js/inoutbound/inboundreq_main.js?v=6";
/* 페이지 처음 로드 */

document.addEventListener('DOMContentLoaded', function() {
  
	// 페이지 로드 시 기본 날짜 설정
        const today = new Date();
        const lastWeek = new Date(today.getFullYear(), today.getMonth(), today.getDate() - 10);

        const formatDate = (date) => {
            let d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        };

        document.getElementById("inreqst_start_date").value = formatDate(lastWeek);
        document.getElementById("inreqst_end_date").value = formatDate(today);
	

	new inreq_list().inreqstate_list(); //ajax 검색 리스트 불러오기
});


/* 상품 찾기 모달 */
	window.product_search_modal = product_search_modal; //jquery에서 사용할 수 있도록

	document.querySelector("#mod_pd_search").addEventListener("click",function(){
		new product_search_modal().pd_paging(1);
	});


/* 검색 조회 버튼 클릭 시 */
document.querySelector("#irst_list_search").addEventListener("click",function(){
		
new inreq_list().inreqstate_list();
});



/* 거절 버튼 클릭 시 */
document.querySelector('#irst_tbody').addEventListener('click', function(event) {
    // 이벤트가 발생한 요소가 'inreq_reject' 클래스를 가진 버튼인지 확인
    if (event.target.classList.contains('inreq_reject')) {
        var button = event.target;
        var request_idx = button.dataset.requestIdx;

        // 거절 로직을 실행하는 메소드 호출
        new inreq_list().reject_list(request_idx);
    }
});


/*납품 등록 모달*/
document.querySelector("#del_enroll").addEventListener("click",function(){
		new delivery_modal().delvery_enroll();
});

/*메뉴이동*/
document.querySelector("#go_delreturn").addEventListener("click",function(){
		new delivery_page_move().go_delivery_return();
});

document.querySelector("#go_delenroll").addEventListener("click",function(){
		new delivery_page_move().go_delivery_enroll();
});

document.querySelector("#go_reqstate").addEventListener("click",function(){
		new delivery_page_move().go_inreq_state();
});
</script>
</html>
