<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>주문 등록</title>

<link rel="stylesheet" href="../resources/css/order/order_styles.css?v=2">
<link rel="stylesheet" href="../resources/css/order/vars.css">

</head>
<body>

<nav th:fragment="order">

<button id="openPopupBtn">주문 등록</button>

<!-- Popup Container -->
<div id="popupContainer" class="popup-container">
    <div class="popup">
        <button id="closePopupBtn" class="close-btn">&times;</button>
        <div class="popup-content">
            <p class="popup-title">주문 등록</p>
            <hr class="popup-divider">
            <!-- Box for content -->
            <div class="popup-box">
            <form id="order_frm">
                <!-- 주문자 정보 Section -->
                <h2 class="box-title">주문자 정보</h2>
                <div class="box-content">
                    <div class="input-row">
                        <div class="input-group">
                            <label for="customerName">이름:</label>
							<c th:text="${member_list[0].user_nm}"></c>
                        </div>
                        <div class="input-group">
                            <label for="customerId">아이디:</label>
                            <c th:text="${activeUserID}"></c>
                            <input type="hidden" name="order_id" th:value="${activeUserID}">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label for="customerAffiliation">소속:</label>
                            <c th:text="${member_list[0].user_company}"></c>
                            <input type="hidden" name="vendor_nm" th:value="${member_list[0].user_company}">
                        </div>
                        <div class="input-group">
                            <label for="customerPhone">전화번호:</label>
                            <c th:text="${member_list[0].user_tel}"></c>
                        </div>
                    </div>
                </div>

                <!-- 상품 Section -->
                <h2 class="box-title">내용</h2>
                <div class="box-content">
                    <div class="input-row">
                        <div class="input-group">
                            <label for="productCode">상품 코드:</label>
                            <input type="text" id="productCode" name="product_cd" value=""/>
                        </div>
                        <div class="button-2" id="product_cd_search">
                        	<div class="divbutton">조회</div>
                        </div>
                    </div>
                    <div class="input-row">
                    <div class="input-group">
                        <label for="productName">상품명:</label>
                        <input type="text" id="productName" name="product_nm" value="" readonly/>
                    </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label for="productManufacturer">제조사:</label>
                            <input type="text" id="productManufacturer" value="" readonly/>
                        </div>
                        <div class="input-group">
                            <label for="productSize">크기:</label>
                            <input type="text" id="productSize" value="" readonly/>
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label for="productWeight">무게:</label>
                            <input type="text" id="productWeight" value="" readonly/>
                        </div>
                        <div class="input-group">
                            <label for="productPrice">입고 가격:</label>
                            <input type="text" id="v_productPrice" value="" readonly/>원
                            <input type="hidden" id="productPrice" value="">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label for="productQuantity">상품 수량:</label>
                            <input type="text" id="productQuantity" name="order_qty" value=""/>
                        </div>
                        <div class="input-group">
                            <label for="totalPrice">총 가격:</label>
                            <input type="text" id="v_totalPrice" value="" readonly/>원
                            <input type="hidden" id="totalPrice" name="order_price" value="">
                        </div>
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label for="startDate">착수일:</label>
                            <input type="date" id="startDate" name="start_dt"/>
                        </div>
                        <div class="input-group">
                            <label for="endDate">납기일:</label>
                            <input type="date" id="endDate" name="due_dt"/>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="button-group">
       		<div class="button-1" id="enrollBtn">
       			<div class="divbutton">등록</div>
       		</div>
	    	<div class="button-3" id="closePopupBtn2">
       			<div class="divbutton">취소</div>
       		</div>
        </div>
    </div>
</div>

</nav>

<script src="../resources/js/order/order_script.js?v=5"></script>

</body>
</html>