<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>위치 지정</title>
</head>
<body>
<!-- 모달 창 (위치 지정) -->
<div class="modal fade" th:fragment="location_assignment" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="locationModalLabel">위치 지정</h4>
            </div>
            <div class="modal-body">
                <form>
                <input type="hidden" id="company_nm_a" name="company_nm_a">
                    <!-- 회사 선택 -->
                    <div class="form-group">
                        <label for="company-select">회사 선택</label>
                        <select class="form-control" id="company-select"onchange="updateHiddenField()">
                            <option th:each="supplier : ${suppliers}"
                             		th:value="${supplier.supplier_cd}" 
                             		th:text="${supplier.supplier_nm}">
                            </option>
                        </select>
                    </div>

                    <!-- 구역 선택 -->
                    <div class="form-group">
                        <label for="zone-select">구역 선택</label>
                        <select class="form-control" id="zone-select">
                            <option value="A">A 구역</option>
                            <option value="B">B 구역</option>
                            <option value="C">C 구역</option>
                            <option value="D">D 구역</option>
                        </select>
                    </div>
                    <!-- 랙 선택 -->
                    <div class="form-group">
                        <label for="rack-select">랙 선택</label>
                        <select class="form-control" id="rack-select">
                            <option value="01">랙 01</option>
                            <option value="02">랙 02</option>
                            <option value="03">랙 03</option>
                            <option value="04">랙 04</option>
                            <option value="05">랙 05</option>
                            <option value="06">랙 06</option>
                            <option value="07">랙 07</option>
                            <option value="08">랙 08</option>
                        </select>
                    </div>
                    <!-- 레벨 선택 -->
                    <div class="form-group">
                        <label for="level-select">레벨(단) 지정</label>
                        <select class="form-control" id="level-select">
                            <option value="L1">L1</option>
                            <option value="L2">L2</option>
                            <option value="L3">L3</option>
                            <option value="L4">L4</option>
                        </select>
                    </div>
                    <!-- 파트 선택 -->
                    <div class="form-group">
                        <label for="part-select">파트(열) 지정</label>
                        <select class="form-control" id="part-select">
                            <option value="P1">P1</option>
                            <option value="P2">P2</option>
                            <option value="P3">P3</option>
                        </select>
                    </div>                    
                </form>
                <button type="button" class="btn btn-info" id="check-location-btn">위치 조회</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                <button type="button" class="btn btn-primary" id="assign-location-btn">위치 지정</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>