@charset "EUC-KR";
/* 팝업 크기 조정 */
.modal-dialog {
    max-width: 600px; /* 가로 600px */
   max-height: 700px; /* 세로 700px */
}
.modal-content {
   height: 100%; /* 100% 높이 적용 */
}

/* 팝업 창 내부 스타일링 */
.modal-body {
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-control-sm {
    width: 90%;
}

.form-inline input {
    margin-right: 10px;
}

.form-check-inline {
    margin-right: 20px;
}

.modal-footer button {
    padding: 8px 20px;
    border-radius: 20px;
}

/* 페이징 스타일링 */
.custom-pagination {
    display: flex;
    justify-content: center;  /* 중앙 정렬 */
}