/* Figma Styles of your File */
:root {
  /* Colors */
  /* Fonts */
  --page-group-title-font-family: Roboto-SemiBold, sans-serif;
  --page-group-title-font-size: 128px;
  --page-group-title-line-height: 20px;
  --page-group-title-font-weight: 600;
  --page-group-title-font-style: normal;
  --menu-title-font-family: Roboto-SemiBold, sans-serif;
  --menu-title-font-size: 200px;
  --menu-title-line-height: 20px;
  --menu-title-font-weight: 600;
  --menu-title-font-style: normal;
  --canvas-title-500-font-family: Roboto-SemiBold, sans-serif;
  --canvas-title-500-font-size: 500px;
  --canvas-title-500-line-height: 20px;
  --canvas-title-500-font-weight: 600;
  --canvas-title-500-font-style: normal;
  --navigation-menu-font-family: Inter-Regular, sans-serif;
  --navigation-menu-font-size: 12px;
  --navigation-menu-line-height: 140%;
  --navigation-menu-font-weight: 400;
  --navigation-menu-font-style: normal;
  --navigation-sub-menu-font-family: Inter-Regular, sans-serif;
  --navigation-sub-menu-font-size: 10px;
  --navigation-sub-menu-line-height: 140%;
  --navigation-sub-menu-font-weight: 400;
  --navigation-sub-menu-font-style: normal;

  /* Effects */
}
